#!/usr/bin/make -f
%:
	dh $@

POD2MAN := pod2man -c maemo-launcher

DEB_CFLAGS_MAINT_APPEND += -Wall -Werror

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
        DEB_CPPFLAGS_MAINT_APPEND += -DDEBUG=1
        DEB_CFLAGS_MAINT_APPEND   += -O0
endif

ifeq (,$(findstring nohildon,$(DEB_BUILD_OPTIONS)))
	opt_hildon := --enable-hildon-booster --enable-cpp-booster
endif

#ifeq (,$(findstring noqt,$(DEB_BUILD_OPTIONS)))
#	opt_qt := --enable-qt-booster
#endif

export DEB_CPPFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

override_dh_auto_configure:
	CXX="g++-7" dh_auto_configure -- \
		$(opt_hildon) \
		$(opt_qt)

override_dh_auto_build:
	dh_auto_build
	$(POD2MAN) debian/dh_maemolauncher > \
		   debian/dh_maemolauncher.1

override_dh_auto_install:
	dh_auto_install
	install -D debian/maemo-launcher.Xsession \
		debian/tmp/etc/X11/Xsession.d/02maemo-launcher
	install -D debian/maemo-launcher.Xsession-restart \
		debian/tmp/etc/X11/Xsession.d/42maemo-launcher
	cp debian/dh_maemolauncher debian/tmp/usr/bin
	cp debian/dh_maemolauncher.1 debian/tmp/usr/share/man/man1/

override_dh_installinit:
	dh_installinit --no-start

override_dh_fixperms:
	dh_fixperms
	chmod u+s debian/maemo-launcher/usr/lib/*/maemo-launcher/defender
